Repository armory/docs, pull requests merged in 2022-11, with the labels that each got.

#1666 chore(release): add release notes for 2.28.1-rc1
  armoryspinnaker_vrn-prerelease-armory-spinnaker/armoryspinnaker_v2-28-1-rc1.md
  payload.json
Labels: releaseNotesUpdate, 2.28.1-rc1, automerge

#1681 chore(release): add release notes for 2.28.1-rc4
  content/en/armory-enterprise/release-notes/rn-prerelease-armory-spinnaker/armoryspinnaker_v2-28-1-rc4.md
  payload.json
Labels: releaseNotesUpdate, automerge, 2.28.1-rc4

#1693 docs(2.28.1): Update armoryspinnaker_v2-28-1.md
  content/en/armory-enterprise/release-notes/rn-armory-spinnaker/armoryspinnaker_v2-28-0.md
  content/en/includes/breaking-changes/bc-git-artifact-constraint.md
  content/en/includes/breaking-changes/bc-java-tls-communication-failure.md
  payload.json
Labels: do not merge, 2.28.1
