Repository armory/docs, pull requests merged in 2023-08, with the labels that each got.

#2090 chore(release): add release notes for 2.30.0-rc9
  content/en/continuous-deployment/release-notes/rn-prerelease-armory-spinnaker/armoryspinnaker_v2-30-0-rc9.md
  payload.json
Labels: releaseNotesUpdate, automerge, 2.30.0-rc9

#2017 chore(release): add release notes for 2.30.0
  config.toml
  content/en/continuous-deployment/feature-status/continuous-deployment-matrix/_index.md
  content/en/continuous-deployment/feature-status/deprecations/cf-support-spec.md
  content/en/continuous-deployment/release-notes/rn-armory-spinnaker/armoryspinnaker_v2-30-0.md
  content/en/continuous-deployment/spinnaker-user-guides/aws-guides/aws-deploy.md
  content/en/continuous-deployment/spinnaker-user-guides/azure-guides/_index.md
  content/en/continuous-deployment/spinnaker-user-guides/azure-guides/bake-images.md
  content/en/continuous-deployment/spinnaker-user-guides/kubernetes-v2.md
  content/en/continuous-deployment/try/instructions.md
  content/en/includes/plugins/pac/compat-matrix.md
  content/en/includes/plugins/pac/pac-features.md
  content/en/plugins/pipelines-as-code/install/configure.md
  content/en/plugins/pipelines-as-code/release-notes.md
  static/images/Automated-Canary-Analysis-using-Spinnaker.html
  static/images/user-guides/azure/custom-bake-fields.png
  static/images/user-guides/azure/managed-bake-fields.png
  static/images/user-guides/azure/select-managed-image.png
Labels: releaseNotesUpdate, 2.30.0

#2107 chore(release): add release notes for 2.30.1-rc1
  content/en/continuous-deployment/release-notes/rn-prerelease-armory-spinnaker/armoryspinnaker_v2-30-1-rc1.md
  payload.json
Labels: releaseNotesUpdate, automerge, 2.30.1-rc1

#2108 chore(release): add release notes for 2.30.1-rc2
  content/en/continuous-deployment/release-notes/rn-prerelease-armory-spinnaker/armoryspinnaker_v2-30-1-rc2.md
  payload.json
Labels: releaseNotesUpdate, automerge, 2.30.1-rc2

#2109 chore(release): add release notes for 2.30.1
  content/en/continuous-deployment/release-notes/rn-armory-spinnaker/armoryspinnaker_v2-30-1.md
  payload.json
Labels: releaseNotesUpdate, 2.30.1

#2112 chore(release): add release notes for 2.30.2-rc1
  content/en/continuous-deployment/release-notes/rn-prerelease-armory-spinnaker/armoryspinnaker_v2-30-2-rc1.md
  payload.json
Labels: releaseNotesUpdate, automerge, 2.30.2-rc1

#2114 chore(release): add release notes for 2.30.2
  content/en/continuous-deployment/release-notes/rn-armory-spinnaker/armoryspinnaker_v2-30-2.md
  payload.json
Labels: releaseNotesUpdate, 2.30.2
